:root {
	/* max content width */
	--site-width: 1200px;

	/* density variables */
	--spacer-x1: 1rem;
	/* change spacer value to change density in the layout */
	--spacer-x025: calc(var(--spacer-x1) * .25);
	--spacer-x05: calc(var(--spacer-x1) * .5);
	--spacer-x075: calc(var(--spacer-x1) * .75);
	--spacer-x2: calc(var(--spacer-x1) * 2);
	--spacer-x3: calc(var(--spacer-x1) * 3);
	--spacer-x4: calc(var(--spacer-x1) * 4);
	--spacer-x6: calc(var(--spacer-x1) * 6);
	--spacer-x8: calc(var(--spacer-x1) * 8);
	--spacer-x12: calc(var(--spacer-x1) * 12);
	--spacer-x16: calc(var(--spacer-x1) * 16);
	--spacer-x32: calc(var(--spacer-x1) * 32);

	/* color variables */
	--color-text: #11111e;
	--color-text-accent: #4444cc;

	--color-primary: #ffffff;
	--color-on-primary: #130f40;
	--color-secondary: #88ffcc;
	--color-on-secondary: #130f40;

	--color-nav: #000;

	--section: transparent;
	--section-dark: #eee;

	--form-border-color: #cccccc;

	/* component radius variables */
	--radius: var(--spacer-x05);

	/* shadow  */
	--shadow: 3px 3px 5px 0 rgba(0, 0, 0, .5);
	--shadow-depressed: 0 0 5px 0 rgba(0, 0, 0, .5);
}

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	/* change font size here to change the size in general */
}

body {
	font-family: sans-serif;
	line-height: 1.4;
	font-size: 1rem;
}

header {
	z-index: 10;
}

a,
a:hover,
a:active,
a:visited {
	color: var(--color-text);
}

nav a,
nav a:hover,
nav a:active,
nav a:visited {
	color: var(--color-text);
}

.hero {
	position: relative;
	background-color: red;
	height: 40rem;
	max-height: 90vh;
}

.hero video, .hero img {
	/* height: 40vh; */
	/* min-height: 25rem; */
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.hero-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	justify-content: center;
	/* horizontal */
	align-content: center;
	/* vertical */
	/* place-content: center 	/* both directions */
	background-color: rgba(0, 0, 0, .75);
}

.hero-text {
	color: #fff;
}

.hero h1 {
	margin: 0;
}

.hero p {
	margin: 0;
}

.section.normal {
	background-color: var(--section);
}

.section.dark {
	background-color: var(--section-dark);
}

.section {
	padding: var(--spacer-x4) 0;
}

footer {
	background-color: darkgray;
	padding-top: var(--spacer-x4);
	padding-bottom: var(--spacer-x4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: var(--spacer-x2);
	margin-bottom: var(--spacer-x1);
}

h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.6rem;
}

h3 {
	font-size: 2.2rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.8rem;
}

h6 {
	font-size: 1.6rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="date"],
input[type="datetime-local"],
input[type="submit"],
.btn,
textarea {
	border: 1px solid var(--form-border-color);
	background-color: white;
	padding: var(--spacer-x05) var(--spacer-x1);
	-webkit-appearance: none;
	appearance: none;
	font-size: 1rem;
	border-radius: var(--radius);
}

.btn,
input[type="submit"] {
	background-color: #333333;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}

.site-width {
	margin: 0 auto;
	max-width: var(--site-width);
}

.flex {
	display: flex;
}

.flex-left {
	display: flex;
	justify-content: left;
}

.flex-right {
	display: flex;
	justify-content: right;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.flex-column {
	flex-direction: column;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.flex-space-between {
	display: flex;
	justify-content: space-between;
}

.flex-space-around {
	display: flex;
	justify-content: space-around;
}

.flex-gap-x2 {
	gap: var(--spacer-x2);
}

.flex-gap-x1 {
	gap: var(--spacer-x1);
}

.flex-gap-x05 {
	gap: var(--spacer-x05);
}

.flex-gap-x4 {
	gap: var(--spacer-x4);
}

.flex-even>* {
	flex: 1;
}

.sticky {
	position: sticky;
	top: 0;
}

#mobile-header,
#nav-close {
	display: none;
}

#nav-close {
	background-color: var(--color-primary);
	color: var(--color-on-primary);
	padding: var(--spacer-x1);
	justify-content: space-between;
}

#mobile-header {
	background-color: var(--color-primary);
	color: var(--color-on-primary);
	padding: var(--spacer-x1);
	justify-content: space-between;
}

@media (max-width: 1024px) {
	html {
		font-size: 14px;
		/* this adjusts all font sizes that are using rem to be slighty smaller than normal */
	}
}

#main-nav {
	display: flex;
	justify-content: space-between;
}

#main-nav ul {
	margin: 0;
	list-style-type: none;
	padding: 0;
}

#main-nav>ul {
	display: flex;
	background-color: #ccc;
}

#main-nav>ul>li {
	position: relative;
}

#main-nav>ul>li>ul {
	position: absolute;
	background-color: #ddd;
}

.touch #main-nav>ul>li.active>ul,
.no-touch #main-nav>ul>li.visible>ul {
	display: block;
}

#main-nav>ul ul {
	display: none;
}

#main-nav ul a {
	padding: var(--spacer-x1) var(--spacer-x2);
	text-decoration: none;
	display: block;
	white-space: nowrap;
}

#main-nav ul a.visible,
#main-nav ul a.active {
	background-color: #aaa;
}

@media (max-width: 1000px) {
	html {
		font-size: 2.5vw;
		/* this fluidly adjusts all font sizes that are using rem to scale based on viewport width */
	}

	body {
		position: relative;
		padding: 0;
		margin: 0;
	}

	#main-nav {
		background-color: #888;
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		transform: translateX(-100%);
		transition: transform .2s ease-in;
		display: block;
	}

	#desktop-logo {
		display: none;
	}

	.menu-active #main-nav {
		transform: translateX(0);
	}

	#mobile-header {
		display: flex;
	}

	#nav-close {
		display: block;
	}

	#main-nav>ul {
		flex-direction: column;
	}

	#main-nav>ul>li>ul {
		position: relative;
	}
}



/* set max-width to site-width + what you thing is reasonable */
@media (max-width: 1300px) {
	.section {
		padding-left: var(--spacer-x1);
		padding-right: var(--spacer-x1);
	}
}