:root {
	/* max content width */
	--site-width: 1200px;

	/* density variables */
	--spacer-x1: 1rem; /* change spacer value to change density in the layout */
	--spacer-x025: calc(var(--spacer-x1) * .25);
	--spacer-x05: calc(var(--spacer-x1) * .5);
	--spacer-x075: calc(var(--spacer-x1) * .75);
	--spacer-x2: calc(var(--spacer-x1) * 2);
	--spacer-x3: calc(var(--spacer-x1) * 3);
	--spacer-x4: calc(var(--spacer-x1) * 4);
	--spacer-x6: calc(var(--spacer-x1) * 6);
	--spacer-x8: calc(var(--spacer-x1) * 8);
	--spacer-x12: calc(var(--spacer-x1) * 12);
	--spacer-x16: calc(var(--spacer-x1) * 16);
	--spacer-x32: calc(var(--spacer-x1) * 32);

	/* color variables */
	--color-text: #11111e;
	--color-text-accent: #4444cc;

	--color-primary: #ffffff;
	--color-on-primary: #130f40;
	--color-secondary: #88ffcc;
	--color-on-secondary: #130f40;

	--form-border-color: #cccccc;
	
	/* component radius variables */
	--radius: var(--spacer-x05);

	/* shadow  */
	--shadow: 3px 3px 5px 0 rgba(0,0,0,.5);
	--shadow-depressed: 0 0 5px 0 rgba(0,0,0,.5);
}

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	/* change font size here to change the size in general */
}

body {
	font-family: sans-serif;
	line-height: 1.4;
	font-size: 1rem;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.6rem;
}
h3 {
	font-size: 2.2rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="date"],
input[type="date"],
input[type="submit"],
.btn,
textarea {
	border: 1px solid var(--form-border-color);
	background-color: white;
	padding: var(--spacer-x05) var(--spacer-x1);
	-webkit-appearance: none;
	appearance: none;
	font-size: 1rem;
	border-radius: var(--radius);
}

.btn,
input[type="submit"] {
	background-color: #333333;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}

.site-width {
	margin: 0 auto;
	max-width: var(--site-width);
}

.flex {
    display: flex;
}

.flex-left {
    display: flex;
    justify-content: left;
}

.flex-right {
    display: flex;
    justify-content: right;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-column {
	flex-direction: column;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}

.flex-gap-x2 {
    gap: var(--spacer-x2);
}

.flex-gap-x1 {
    gap: var(--spacer-x1);
}

.flex-gap-x05 {
    gap: var(--spacer-x05);
}

.flex-gap-x4 {
    gap: var(--spacer-x4);
}

.flex-even > * {
    flex: 1;
}

.sticky {
    position: sticky;
    top: 0;
}

@media (max-width: 1024px) {
	html {
		font-size: 14px;
		/* this adjusts all font sizes that are using rem to be slighty smaller than normal */
	}
}

@media (max-width: 800px) {
	html {
		font-size: 2.5vw;
		/* this fluidly adjusts all font sizes that are using rem to scale based on viewport width */
	}
}
